<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/HoPetStyle.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{var sessionVar = (HoPet.Models.User)HttpContext.Current.Session["user"];
        if (sessionVar != null)
        {
            @Html.Partial("_NavbarPartialView")
        }
        else
        {
            @Html.Partial("_LoginNavbarPartialView")
        }
    }
    <div class="row justify-content-center">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - HoPet</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
